<!-- Links -->
			
{{#if links.customSites}}
<div id="custom-sites" class="list-group">
	<a href="#" class="list-group-item disabled">
		Custom Links</a>
	{{#each links.customSites}}
		<a href="{{url}}" id="{{@index}}_customLink"
		class="list-group-item">{{title}}
				<button id="remove_customLink"
					class="btn btn-xs btn-default pull-right">
					<span class="glyphicon glyphicon-trash"></span> 
				</button>
			</a>
	{{/each}}
</div>
{{/if}}

<div id="top-sites" class="list-group">
	<a href="#" class="list-group-item disabled">
		Chrome Top Sites</a>
	{{#each links.topSites}}
		<a href="{{url}}"
		class="list-group-item">{{title}}</a>
	{{/each}}
</div>

 <!-- FAB to add custom Links -->
<button id="tt3" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab 
mdl-js-ripple-effect pull-right" data-toggle="modal" data-target="#addCustomLinkModal">
	<i class="material-icons">add</i>
	<div class="mdl-tooltip mdl-tooltip--left" for="tt3">Add your own Link</div>
</button>

<!-- Links Modal-->
<div class="modal fade" id="addCustomLinkModal" tabindex="-1" role="dialog" 
aria-labelledby="myModalLabel">

	<div class="modal-dialog modal-sm" role="document">
	<div class="modal-content">

		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal" 
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>

			<h4 class="modal-title" id="myModalLabel">Add Link</h4>

		</div>
		<div class="modal-body">
			<span class=" glyphicon glyphicon-warning-sign"></span> 
				Please make sure the URL contains the 'http://www' part
			<form class="form-horizontal">
				<div class="form-group-sm">
					<input type="text" class="form-control" 
					id="bookmark_name" placeholder="Name">
				</div>
				<div class="form-group-sm">
					<input type="text" class="form-control" 
					id="bookmark_url" placeholder="URL">
				</div>
			</form>

		</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" 
	data-dismiss="modal">Cancel</button>

	<button type="button" id="addBookmark" class="btn btn-primary" 
	data-dismiss="modal">Add Link</button>

	</div>
	</div>
	</div>
</div>
