<!-- Links -->
			
{{#if links.customSites}}
<div id="custom-sites" class="list-group">
	<a href="#" class="list-group-item disabled">
		Custom Links</a>
	{{#each links.customSites}}
		<a href="{{url}}" id="{{@index}}_customLink"
		class="list-group-item">{{title}}
				<button id="remove_customLink"
					class="btn btn-xs btn-default pull-right">
					<span class="glyphicon glyphicon-trash"></span> 
				</button>
			</a>
	{{/each}}
</div>
{{/if}}

<div id="top-sites" class="list-group">
	<a href="#" class="list-group-item disabled">
		Chrome Top Sites</a>
	{{#each links.topSites}}
		<a href="{{url}}"
		class="list-group-item">{{title}}</a>
	{{/each}}
</div>

 <!-- FAB to add custom Links -->
<button id="tt3" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab 
mdl-js-ripple-effect pull-right" data-toggle="modal" data-target="#addCustomLinkModal">
	<i class="material-icons">add</i>
	<div class="mdl-tooltip mdl-tooltip--left" for="tt3">Add your own Link</div>
</button>


