<!-- Links -->

{{#* inline "add-link-button"}}
  <button class="btn btn-sm float-xs-right btn-outline-secondary" 
    data-toggle="modal" data-target="#add-my-link-modal" type="button">
    Add Link
  </button>
{{/inline}}

<div class="card">
  {{#if links.myLinks}}
    <div class="card-header">My Links {{> add-link-button}}</div>

    <div class="list-group list-group-flush">
      {{#each links.myLinks}}
        <a href="{{url}}" data-index="{{@index}}"
        class="list-group-item list-group-item-action">{{title}}
          <button id="remove-my-link"
            class="btn btn-sm float-xs-right btn-outline-secondary">
            &#9587;
          </button>
        </a>
      {{/each}}
    </div>
  {{/if}}

  <div class="card-header">Chrome Top Sites
    {{#unless links.myLinks}}{{> add-link-button}}{{/unless}}
  </div>

  <div id="top-sites" class="list-group list-group-flush">
    {{#each links.topSites}}
      <a href="{{url}}"
      class="list-group-item list-group-item-action">{{title}}</a>
    {{/each}}
  </div>

</div>

{{!--<span data-toggle="modal" data-target="#addCustomLinkModal">
<button type="button" class="btn btn-default pull-right" 
data-toggle="tooltip" data-placement="left" title="Add Custom Link"
style="height: 40px; width:40px; line-height: 22px; vertical-align:middle; border-radius:50%; padding:0; opacity: 0.5;">
<!-- style="height: 34px; line-height: 16px; vertical-align:middle; border-radius:15%;"> -->
<span style="font-size:25px;">&#43;</span></button> 
</span>--}}

 <!-- FAB to add custom Links requires material css + js -->	
{{!-- <button id="tt3" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab 
mdl-js-ripple-effect pull-right" data-toggle="modal" data-target="#addCustomLinkModal">
  <i class="material-icons">&#43;</i>
  <div class="mdl-tooltip mdl-tooltip--left" for="tt3">Add your own Link</div>
</button> --}}


