<!-- HANDLEBARS TEMPLATE -->


<div class="card">

	{{> partials/schedule-card-header}}


	<div class="card-block">

		{{#if schedule.games.length}}
			<table class="table table-sm">
				<tbody>

					{{#each schedule.games}}
					{{#unless hidden}}

					<tr id={{id}} data-toggle="collapse" data-target=#collapse-{{id}}
					class="{{#if close_game}}danger{{/if}} {{#if fav_team}}success{{/if}}">

						<td>
							{{htmlSafeString status}}
						</td>

						<td id="away_team" {{#if awayTeamWinning}}class="winning"{{/if}}
						style="text-align:left; text-transform: capitalize;">{{awayTeamName}}</td>

						<td id="home_team" {{#if homeTeamWinning}}class="winning"{{/if}}
						style="text-align:left; text-transform: capitalize;">{{homeTeamName}}</td>

						<td style="text-align:left">{{awayTeamScore}}</td>
						<td style="text-align:left">{{homeTeamScore}}</td>

					</tr>

					<tr id=c{{id}}><td colspan="6" style="padding: 0" class="table-info">
						<div id=collapse-{{id}} class="collapse">
							<div style="padding: 5px">

								{{#if alerts.brief_text}}
									<h6>Alert</h6>
									<p>{{alerts.brief_text}}</p>
								{{/if}}

								<center> <h4>
									{{awayTeamName}} ({{away_win}}-{{away_loss}}) @
									{{homeTeamName}} ({{home_win}}-{{home_loss}})
								</h4></center>
								<small>
								{{#if linescore}}
									<table class="table table-sm">
										<thead>
											<tr><th></th>
											{{#each linescore.inning}}
												<th>{{addOne @index}}</th>
											{{/each}}
											<th>R</th><th>H</th><th>E</th></tr>
										</thead>
										<tbody>
											<tr>
												<td>{{awayTeamName}}</td>

												{{#each linescore.inning}}
													<td>{{away}}</td>
												{{/each}}

												<td>{{linescore.r.away}}</td>
												<td>{{linescore.h.away}}</td>
												<td>{{linescore.e.away}}</td>
											</tr>
											<tr>
												<td>{{homeTeamName}}</td>

												{{#each linescore.inning}}
													<td>{{home}}</td>
												{{/each}}

												<td>{{linescore.r.home}}</td>
												<td>{{linescore.h.home}}</td>
												<td>{{linescore.e.home}}</td>
											</tr>
										</tbody>
									</table>
								{{/if}}

								{{#if home_runs}}
									<h6>Home Runs</h6>
									{{#if home_runs.player.length}}
										<p>
											{{#each home_runs.player}}
												{{name_display_roster}} {{#unless @last}} ; {{/unless}}
											{{/each}}
										{{else}}
											{{home_runs.player.name_display_roster}}
										</p>
									{{/if}}
								{{/if}}

								{{#if pitcher}}
									<h6>Home pitcher</h6>
									<p> {{pitcher.name_display_roster}} ({{pitcher.wins}} - {{pitcher.losses}}, era: {{pitcher.era}}) </p>
								{{else}}
									{{#if home_probable_pitcher}}
									<h6>Home Probable Pitcher</h6>
									<p> {{home_probable_pitcher.name_display_roster}} ({{home_probable_pitcher.wins}} - {{home_probable_pitcher.losses}}, era: {{home_probable_pitcher.era}}) </p>
									{{/if}}
								{{/if}}

								{{#if opposing_pitcher}}
									<h6>Visitor pitcher</h6>
									<p> {{opposing_pitcher.name_display_roster}} ({{opposing_pitcher.wins}} - {{opposing_pitcher.losses}}, era: {{opposing_pitcher.era}}) </p>
								{{else}}
									{{#if away_probable_pitcher}}
									<h6>Visitor Probable Pitcher</h6>
									<p> {{away_probable_pitcher.name_display_roster}} ({{away_probable_pitcher.wins}} - {{away_probable_pitcher.losses}}, era: {{away_probable_pitcher.era}}) </p>
									{{/if}}
								{{/if}}

								{{#if losing_pitcher}}
									<h6>Losing pitcher</h6>
									<p> {{losing_pitcher.name_display_roster}} ({{losing_pitcher.wins}} - {{losing_pitcher.losses}}, era: {{losing_pitcher.era}}) </p>
								{{/if}}

								{{#if winning_pitcher}}
									<h6>Winning pitcher</h6>
									<p> {{winning_pitcher.name_display_roster}} ({{winning_pitcher.wins}} - {{winning_pitcher.losses}}, era: {{winning_pitcher.era}}) </p>
								{{/if}}
								</small>
							</div>
						</div>
					</td></tr>

					{{/unless}}
					{{/each}}

				</tbody>
			</table>
		{{else}}
			{{#if schedule.error}}
				<div class="alert alert-danger" style="margin-bottom:0">
					<span class="glyphicon glyphicon-bell"></span>
					Potential Error -- if there are games today, then definately error.
					Could be my code, the NHL API, or something random. Please do let me know.
				</div>
			{{else}}
					{{> partials/schedule-card-no-games}}
			{{/if}}
		{{/if}}



	</div>
</div>
