

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	<center>
		<h4 class="modal-title">{{game.visitor.nickname}} @ {{game.home.nickname}}</h4>
	</center>
</div>
<div class="modal-body container-fluid">

	<!--LINE SCORES-->
	{{#if game.home.linescores.period}}
		<table class="table table-sm">
			<thead class="thead-default"><tr>
				<th></th>
				{{#each game.home.linescores.period}}
					<th style="text-align:right">{{period_name}}</th>
				{{/each}}
				<th style="text-align:right">T</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>{{game.visitor.nickname}}</th>
					{{#each game.visitor.linescores.period}}
						<td style="text-align:right">{{score}}</td>
					{{/each}} 
					<td style="text-align:right">{{game.visitor.score}}</td>
				</tr>
				<tr>
					<th>{{game.home.nickname}}</th>
					{{#each game.home.linescores.period}}
						<td style="text-align:right">{{score}}</td>
					{{/each}} 
					<td style="text-align:right">{{game.home.score}}</td>
				</tr>
			</tbody>
		</table>
	{{/if}}

	<hr>

	<!--TEAM STATS-->
	<table class="table table-sm">
		<thead class="thead-default">
			<tr>
				<th style="text-align:right"></th>
				<th style="text-align:right">Pts</th>
				<th style="text-align:right">FGs</th>
				<th style="text-align:right">3PT</th>
				<th style="text-align:right">FT</th>
				<th style="text-align:right">Ast</th>
				<th style="text-align:right">D/O Reb</th>
				<th style="text-align:right">TO</th>
				<th style="text-align:right">Stl</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{{game.visitor.nickname}}</th>
				<td style="text-align:right">{{game.visitor.stats.points}}</td>
				<td style="text-align:right">
					{{game.visitor.stats.field_goals_made}}-{{game.visitor.stats.field_goals_attempted}}
				</td>
				<td style="text-align:right">
					{{game.visitor.stats.three_pointers_made}}-{{game.visitor.stats.three_pointers_attempted}}
				</td>
				<td style="text-align:right">
					{{game.visitor.stats.free_throws_made}}-{{game.visitor.stats.free_throws_attempted}}
				</td>
				<td style="text-align:right">{{game.visitor.stats.assists}}</td>
				<td style="text-align:right">
					{{game.visitor.stats.rebounds_defensive}}/{{game.visitor.stats.rebounds_offensive}}
				</td>
				<td style="text-align:right">{{game.visitor.stats.turnovers}}</td>
				<td style="text-align:right">{{game.visitor.stats.steals}}</td>
			</tr>
			<tr>
				<th>{{game.home.nickname}}</th>
				<td style="text-align:right">{{game.home.stats.points}}</td>
				<td style="text-align:right">
					{{game.home.stats.field_goals_made}}-{{game.home.stats.field_goals_attempted}}
				</td>
				<td style="text-align:right">
					{{game.home.stats.three_pointers_made}}-{{game.home.stats.three_pointers_attempted}}
				</td>
				<td style="text-align:right">
					{{game.home.stats.free_throws_made}}-{{game.home.stats.free_throws_attempted}}
				</td>
				<td style="text-align:right">{{game.home.stats.assists}}</td>
				<td style="text-align:right">
					{{game.home.stats.rebounds_defensive}}/{{game.home.stats.rebounds_offensive}}
				</td>
				<td style="text-align:right">{{game.home.stats.turnovers}}</td>
				<td style="text-align:right">{{game.home.stats.steals}}</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<!--LEADERS-->
	<div class="row">
		<!--VISITOR-->
		<div class="col-md-6 pull-xs-left">
			<h5>{{game.visitor.nickname}}</h5>
			<p>
				{{#each game.visitor.Leaders.Points.leader}}
					{{#if @last}}
						{{FirstName}} {{LastName}}
					{{else}}
						{{FirstName}} {{LastName}},
					{{/if}}
				{{/each}}
				{{game.visitor.Leaders.Points.StatValue}} pts
			<br>
				{{#each game.visitor.Leaders.Assists.leader}}
					{{#if @last}}
						{{FirstName}} {{LastName}}
					{{else}}
						{{FirstName}} {{LastName}},
					{{/if}}
				{{/each}}
				{{game.visitor.Leaders.Assists.StatValue}} ast
			
			<br>
				{{#each game.visitor.Leaders.Rebounds.leader}}
					{{#if @last}}
						{{FirstName}} {{LastName}}
					{{else}}
						{{FirstName}} {{LastName}},
					{{/if}}
				{{/each}}
				{{game.visitor.Leaders.Rebounds.StatValue}} reb
			</p>
		</div>
		<!--HOME-->
		<div class="col-md-6 pull-xs-right" style="text-align:right">
			<h5>{{game.home.nickname}}</h5>
			<p>
				{{#each game.home.Leaders.Points.leader}}
					{{#if @last}}
						{{FirstName}} {{LastName}}
					{{else}}
						{{FirstName}} {{LastName}},
					{{/if}}
				{{/each}}
				{{game.home.Leaders.Points.StatValue}} pts
			<br>
				{{#each game.home.Leaders.Assists.leader}}
					{{#if @last}}
						{{FirstName}} {{LastName}}
					{{else}}
						{{FirstName}} {{LastName}},
					{{/if}}
				{{/each}}
				{{game.home.Leaders.Assists.StatValue}} ast
			
			<br>
				{{#each game.home.Leaders.Rebounds.leader}}
					{{#if @last}}
						{{FirstName}} {{LastName}}
					{{else}}
						{{FirstName}} {{LastName}},
					{{/if}}
				{{/each}}
				{{game.home.Leaders.Rebounds.StatValue}} reb
			</p>
		</div>
	</div>

	<!--STARTERS-->
	<h4>Starters</h4>
	<table class="table table-sm">
		<thead class="thead-default">
			<tr>
				<th>{{game.visitor.nickname}}</th>
				<th style="text-align:right">Pts</th>
				<th style="text-align:right">FG</th>
				<th style="text-align:right">3PT</th>
				<th style="text-align:right">Reb</th>
				<th style="text-align:right">Ast</th>
				<th style="text-align:right">TO</th>
				<th style="text-align:right">Stl</th>
				<th style="text-align:right">FT</th>
				<th style="text-align:right">Mins</th>
			</tr>
		</thead>
		<tbody>
			{{#each game.visitor.players.starters}}
				<tr>	
					<td>{{first_name}} {{last_name}}</td>
					<td style="text-align:right">{{points}}</td>
					<td style="text-align:right">{{field_goals_made}}-{{field_goals_attempted}}</td>
					<td style="text-align:right">{{three_pointers_made}}-{{three_pointers_attempted}}</td>
					<td style="text-align:right">{{rebounds_offensive}}</td>
					<td style="text-align:right">{{assists}}</td>
					<td style="text-align:right">{{turnovers}}</td>
					<td style="text-align:right">{{steals}}</td>
					<td style="text-align:right">{{free_throws_made}}-{{free_throws_attempted}}</td>
					<td style="text-align:right">{{minutes}}</td>
				</tr>
			{{/each}}
		</tbody>
			
		<thead class="thead-default">
			<tr>
				<th>{{game.home.nickname}}</th>
				<th style="text-align:right">Pts</th>
				<th style="text-align:right">FG</th>
				<th style="text-align:right">3PT</th>
				<th style="text-align:right">Reb</th>
				<th style="text-align:right">Ast</th>
				<th style="text-align:right">TO</th>
				<th style="text-align:right">Stl</th>
				<th style="text-align:right">FT</th>
				<th style="text-align:right">Mins</th>
			</tr>
		</thead>

		<tbody>
			{{#each game.home.players.starters}}
				<tr>	
					<td>{{first_name}} {{last_name}}</td>
					<td style="text-align:right">{{points}}</td>
					<td style="text-align:right">{{field_goals_made}}-{{field_goals_attempted}}</td>
					<td style="text-align:right">{{three_pointers_made}}-{{three_pointers_attempted}}</td>
					<td style="text-align:right">{{rebounds_offensive}}</td>
					<td style="text-align:right">{{assists}}</td>
					<td style="text-align:right">{{turnovers}}</td>
					<td style="text-align:right">{{steals}}</td>
					<td style="text-align:right">{{free_throws_made}}-{{free_throws_attempted}}</td>
					<td style="text-align:right">{{minutes}}</td>
				</tr>
			{{/each}}
		</tbody>

		
	</table>

	<hr>

	<!--BENCH-->
	<h4>Bench</h4>
	<table class="table table-sm">
		<thead class="thead-default">
			<tr>
				<th>{{game.visitor.nickname}}</th>
				<th style="text-align:right">Pts</th>
				<th style="text-align:right">FG</th>
				<th style="text-align:right">3PT</th>
				<th style="text-align:right">Reb</th>
				<th style="text-align:right">Ast</th>
				<th style="text-align:right">TO</th>
				<th style="text-align:right">Stl</th>
				<th style="text-align:right">FT</th>
				<th style="text-align:right">Mins</th>
			</tr>
		</thead>
		<tbody>
			{{#each game.visitor.players.bench}}
				<tr>	
					<td>{{first_name}} {{last_name}}</td>
					<td style="text-align:right">{{points}}</td>
					<td style="text-align:right">{{field_goals_made}}-{{field_goals_attempted}}</td>
					<td style="text-align:right">{{three_pointers_made}}-{{three_pointers_attempted}}</td>
					<td style="text-align:right">{{rebounds_offensive}}</td>
					<td style="text-align:right">{{assists}}</td>
					<td style="text-align:right">{{turnovers}}</td>
					<td style="text-align:right">{{steals}}</td>
					<td style="text-align:right">{{free_throws_made}}-{{free_throws_attempted}}</td>
					<td style="text-align:right">{{minutes}}</td>
				</tr>
			{{/each}}
		</tbody>
			
		<thead class="thead-default">
			<tr>
				<th>{{game.home.nickname}}</th>
				<th style="text-align:right">Pts</th>
				<th style="text-align:right">FG</th>
				<th style="text-align:right">3PT</th>
				<th style="text-align:right">Reb</th>
				<th style="text-align:right">Ast</th>
				<th style="text-align:right">TO</th>
				<th style="text-align:right">Stl</th>
				<th style="text-align:right">FT</th>
				<th style="text-align:right">Mins</th>
			</tr>
		</thead>

		<tbody>
			{{#each game.home.players.bench}}
				<tr>	
					<td>{{first_name}} {{last_name}}</td>
					<td style="text-align:right">{{points}}</td>
					<td style="text-align:right">{{field_goals_made}}-{{field_goals_attempted}}</td>
					<td style="text-align:right">{{three_pointers_made}}-{{three_pointers_attempted}}</td>
					<td style="text-align:right">{{rebounds_offensive}}</td>
					<td style="text-align:right">{{assists}}</td>
					<td style="text-align:right">{{turnovers}}</td>
					<td style="text-align:right">{{steals}}</td>
					<td style="text-align:right">{{free_throws_made}}-{{free_throws_attempted}}</td>
					<td style="text-align:right">{{minutes}}</td>
				</tr>
			{{/each}}
		</tbody>

		
	</table>


</div>