<!-- HANDLEBARS TEMPLATE -->
		

<div id="NBA-panel" class="panel panel-default">

	<div class="panel-heading">
		<span>NBA</span> 
		<div class="btn-group" role="group" aria-label="...">  
			<button id="yesterday-btn"
				class="btn btn-xs btn-default">
				<span class="glyphicon glyphicon-chevron-left"></span> 
			</button>
			<button id="today-btn"
				class="btn btn-xs btn-default">
				Today
			</button>
			<button id="tomorrow-btn"
				class="btn btn-xs btn-default">
				<span class="glyphicon glyphicon-chevron-right"></span> 
			</button>
		</div>
		<span id="today"></span>
	</div>

	<div class="panel-heading">
		<div class="btn-group" role="group" aria-label="...">
			<button id="standings-btn"
					class="btn btn-xs btn-default"
					data-toggle="modal" data-target="#NBA-standings">
				<span class="glyphicon glyphicon-th-list"></span> 
				Standings
				</button>

				<button id="update-btn"
				class="btn btn-xs btn-default">
				<span class="glyphicon glyphicon-refresh"></span> 
				Scores
				</button>

				<button id="autoupdate-btn"
				class="btn btn-xs 
					{{#if schedule.autoUpdating}} 
						btn-success
					{{else}}
						btn-default 
					{{/if}}">
				<span class="glyphicon 
					{{#if schedule.autoUpdating}} 
						glyphicon-ok
					{{else}}
						glyphicon-remove 
					{{/if}}">
				</span> 
				Auto Update
				</button> 

	    	<button id="reset_games"
					class="btn btn-xs btn-default">
				<span class="glyphicon glyphicon-cloud-download"></span> 
				Games
				</button>
		</div>
	</div>		

	<div class="panel-body">

		{{#if schedule.game.length}}	
			<div class="table-responsive">
				<table id="NBA_game_table" 
				class="table table-striped table-condensed">
					<thead>
						<tr>
							<th><span class="glyphicon glyphicon-time">
							</span></th>
							<th style="text-align:left">Home</th>
							<th style="text-align:left">Visitor</th>
							<th style="text-align:left">H</th>
							<th style="text-align:left">V</th>
							<th style="text-align:right">
							<span class="glyphicon glyphicon-edit">
							</span></th>
						</tr>
					</thead>
					<tbody id="NBA-schedul-games">

						{{#each schedule.game}}
						{{#unless hidden}}

							<tr id={{id}} data-toggle="collapse" 
							data-target=#collapse-{{id}} 
							class="{{#if close_game}}danger{{/if}} {{#if fav_team}}success{{/if}}">

								<td> 
									{{period_time.period_status}} 
									{{period_time.game_clock}}
									{{#if overtime}} , {{overtime}}OT {{/if}}
								</td>
								
								<td id="home_team" {{#if home.winning}}class="winning"{{/if}}
								style="text-align:left">{{home.nickname}}</td>

								<td id="away_team" {{#if visitor.winning}}class="winning"{{/if}}
								style="text-align:left">{{visitor.nickname}}</td>

								<td id="h-score" style="text-align:left">{{home.score}}</td> 
								<td id="v-score" style="text-align:left">{{visitor.score}}</td>

								<td style="text-align:right">
								<button type="button" id="remove-game-btn" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>

							<tr><td colspan="6" style="padding: 0" class="nba-collapse" id=c{{id}}>
							<div id=collapse-{{id}} class="collapse">
							<small>

							<p>Channels:
							{{#each broadcasters.tv.broadcaster}}
							    {{display_name}} {{#unless @last}}, {{/unless}}
							{{/each}}</p>

							{{!--
							<p> "stat.NBA.com box score doesn't work until game start"</p>
							<a class="btn btn-default btn-xs" 
							href="http://stats.nba.com/game/#!/{{id}}/" 
							role="button">stats.NBA.com Box Score</a>
							--}}

							<a class="btn btn-default btn-xs" 
							href="http://www.nba.com/games/{{game_url}}/gameinfo.html" 
							role="button">NBA.com Game Info</a>

							{{!-- 
							<a class="btn btn-default btn-xs" 
							href="http://www.nba.com/gametracker/#/{{game_url}}/lp/matchup/" 
							role="button">NBA.com Preview</a>
							--}}

							{{#if home.linescores}}
								<table class="table table-condensed">
									<thead><tr>
										<th></th>
										{{#each home.linescores.period}}
											<th style="text-align:right">{{period_name}}</th>
										{{/each}}
										<th style="text-align:right">T</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>{{home.nickname}}</th>
											{{#each home.linescores.period}}
												<td style="text-align:right">{{score}}</td>
											{{/each}} 
											<td style="text-align:right">{{home.score}}</td>
										</tr>
										<tr>
											<th>{{visitor.nickname}}</th>
											{{#each visitor.linescores.period}}
												<td style="text-align:right">{{score}}</td>
											{{/each}}
											<td style="text-align:right">{{visitor.score}}</td>
										</tr>
									</tbody>
								</table>
							{{/if}}
							</small>
							</div>
							</td></tr>

						{{/unless}}
						{{/each}}

					</tbody>
				</table>
			</div> <!--/table-responsive -->
		
		{{else}}
			
			<div class="alert alert-danger" style="margin-bottom:0">
				<span class="glyphicon glyphicon-bell"></span>
				No Games today &#9785; &#9785; &#9785;<br>
				GET HYPED FOR PLAYOFFS!!
			</div>

		{{/if}}

	</div>	
</div> <!-- / NBA panel -->



<!-- NBA standings modal-->
<div class="modal fade" id="NBA-standings" 
tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
				aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>

				<h4 class="modal-title" id="myModalLabel">Conference Standings</h4>
			</div>

			<div class="modal-body">
				<div class="tabbable">
					<ul class="nav nav-pills">
						<li class="active"><a href="#West" 
						data-toggle="tab">West</a></li>
						<li><a href="#East" data-toggle="tab">East</a>
						</li>
					</ul>

					<div class="tab-content" id="tabs">
						<div class="tab-pane fade active in" 
						id="West">Loading... </div>
						<div class="tab-pane" 
						id="East">Loading...</div>
					</div>
				</div>  

			</div>
		</div>
	</div>
</div>
