<!-- HANDLEBARS TEMPLATE -->
		

<div id="NBA-panel" class="card">

	<div class="card-header">
		<span> &#127936; NBA // {{schedule.month}}.{{schedule.day}}</span> 
		<div class="btn-group" role="group" aria-label="...">  
			<button id="yesterday-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-chevron-left"></span> -->
				&#9664;
			</button>
			<button id="today-btn"
				class="btn btn-sm btn-secondary">
				Today
			</button>
			<button id="tomorrow-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-chevron-right"></span> -->
				&#9658;
			</button>
		</div>
		<span id="today"></span>
	</div>

	<div class="card-header">

		<button id="standings-btn" data-toggle="modal" data-target="#NBA-standings"
		class="btn btn-sm float-xs-left btn-outline-primary">
			&#128200; Standings
		</button>
		
		<div class="btn-group float-xs-right" role="group" aria-label="...">
				<button id="update-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-refresh"></span> -->
				Update
				</button>

				<button id="autoupdate-btn"
				class="btn btn-sm 
					{{#if schedule.autoUpdating}} 
						btn-success
					{{else}}
						btn-secondary 
					{{/if}}">
				<!--<span class="glyphicon 
					{{#if schedule.autoUpdating}} 
						glyphicon-ok
					{{else}}
						glyphicon-remove 
					{{/if}}">
				</span> -->
				Auto Update
				</button> 

	    	<button id="reset_games"
					class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-cloud-download"></span> -->
				Reset
				</button>
		</div>
	</div>		

	<div class="card-block">

		{{#if schedule.game.length}}	
				<table id="NBA_game_table" 
				class="table table-sm">
					<thead>
						<tr>
							<th>
								<!--<span class="glyphicon glyphicon-time"></span>-->
								<!--&#128348;-->
							</th>
							<th style="text-align:left">Visitor</th>
							<th style="text-align:left">@Home</th>
							<th style="text-align:left">V</th>
							<th style="text-align:left">H</th>
							<th style="text-align:right">
								<!--<span class="glyphicon glyphicon-edit"></span>-->
							</th>
						</tr>
					</thead>
					<tbody id="NBA-schedul-games">

						{{#each schedule.game}}
						{{#unless hidden}}

							<tr id={{id}} data-toggle="collapse" 
							data-target=#collapse-{{id}} 
							class="{{#if close_game}}table-danger{{/if}} {{#if fav_team}}table-success{{/if}}">

								<td> 
									{{period_time.period_status}} 
									{{period_time.game_clock}}
									{{#if overtime}} OT{{overtime}}{{/if}}
								</td>

								<td id="away_team" {{#if visitor.winning}}class="winning"{{/if}}
								style="text-align:left">{{visitor.nickname}}
								{{#if playoffs.visitor_wins}}({{playoffs.visitor_wins}}){{/if}}
								</td>

								<td id="home_team" {{#if home.winning}}class="winning"{{/if}}
								style="text-align:left">{{home.nickname}}
								{{#if playoffs.home_wins}}({{playoffs.home_wins}}){{/if}}
								</td>

								<td id="v-score" style="text-align:left">{{visitor.score}}</td>
								<td id="h-score" style="text-align:left">{{home.score}}</td> 

								<td style="text-align:right">
								<button type="button" id="remove-game-btn" class="btn btn-sm btn-outline-secondary">
								<!--<span class="glyphicon glyphicon-trash"></span>-->
								&#9587;
								</button></td>
							</tr>

							<tr>
								<td colspan="6" style="padding: 0" class="nba-collapse" id=c{{id}}>
									<div id=collapse-{{id}} class="collapse">
										<center style="padding:5px">

											<p>Channels:
											{{#each broadcasters.tv.broadcaster}}
												{{display_name}}{{#unless @last}}, {{/unless}}
											{{/each}}</p>

											{{!--
											<p> "stat.NBA.com box score doesn't work until game start"</p>
											<a class="btn btn-default btn-xs" 
											href="http://stats.nba.com/game/#!/{{id}}/" 
											role="button">stats.NBA.com Box Score</a>
											--}}

											<a class="btn btn-sm btn-outline-primary" 
											href="http://www.nba.com/games/{{game_url}}" 
											role="button">NBA.com Game Info</a>

											<button id="boxscore-btn"
												class="btn btn-sm btn-outline-primary" value="{{id}}"
												data-toggle="modal" data-target="#NBA-boxscore">
												Box Score
											</button>
										</center>
									</div>
								</td>
							</tr>
						{{/unless}}
						{{/each}}

					</tbody>
				</table>		
		{{else}}
			
		<div class="alert" style="margin-bottom:0">
			No games today &#x1f622;<br>
			<div class="btn-group btn-group-sm" role="group" aria-label="NBA Links">
				<a href="http://nba.com" class="btn btn-sm btn-outline-primary">NBA</a>
				<a href="http://www.espn.com/nba/" class="btn btn-sm btn-outline-primary">ESPN</a>
				<a href="http://www.reddit.com/r/nba" class="btn btn-sm btn-outline-primary">r/NBA</a>
			</div>
		</div>

		{{/if}}

	</div>	
</div> <!-- / NBA panel -->



<!-- NBA standings modal-->
<div class="modal fade" id="NBA-standings" 
tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
				aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>

				<h4 class="modal-title" id="myModalLabel">Conference Standings</h4>
			</div>

			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#West">West</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#East">East</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="West" role="tabpanel">Loading... </div>
					<div class="tab-pane" id="East" role="tabpanel">Loading...</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--NBA boxscore modal-->
<div class="modal fade" id="NBA-boxscore">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Box Score</h4>
			</div>
				<div class="modal-body">
				<p>Loading...<br>(Not available before game starts)</p>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->