<!-- NBA STANDINGS -->
<table class="table table-striped table-sm">
	<thead><tr>
		<th>#</th><th>Team</th><th>W</th><th>L</th><th>Pct</th>
		<th>L10</th><th>Streak</th>
	</tr>
	</thead>
	<tbody>
		{{#teams}}
		<tr>										
			<td>{{team_stats.rank}}</td>
			<td>{{name}}</td>
			<td>{{team_stats.wins}}</td>
			<td>{{team_stats.losses}}</td>
			<td>{{team_stats.pct}}</td>
			<td>{{team_stats.l10}}</td>
			<td>{{team_stats.streak}}</td>
		</tr>
		{{/teams}}	
	</tbody>
</table>
