<!-- HANDLEBARS TEMPLATE -->
		

<div id="NHL-panel" class="card car">

	<div class="card-header">
		<span>NHL // {{schedule.month}}.{{schedule.day}}</span> 
		<div class="btn-group" role="group" aria-label="...">  
			<button id="yesterday-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-chevron-left"></span> -->
				&#9664;
			</button>
			<button id="today-btn"
				class="btn btn-sm btn-secondary">
				Today
			</button>
			<button id="tomorrow-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-chevron-right"></span> -->
				&#9658;
			</button>
		</div>
		<span id="today"></span>
	</div>
	

	<div class="card-block">

		{{#if schedule.games.length}}	
			<table id="NHL_game_table" 
			class="table table-sm">
				<thead>
					<tr>
						<th>
							<!--<span class="glyphicon glyphicon-time"></span>-->
						</th>
						<th style="text-align:left">Visitor</th>
						<th style="text-align:left">@Home</th>
						<th style="text-align:left">V</th>
						<th style="text-align:left">H</th>	
						<th style="text-align:right">
							<!--<span class="glyphicon glyphicon-edit">-->
						</span></th>
					</tr>
				</thead>
				<tbody>

					{{#each schedule.games}}
					{{#unless hidden}}

					<tr id={{id}} class="{{#if close_game}}danger{{/if}} {{#if fav_team}}success{{/if}}">

						<td>{{bs}}</td>

						<td id="away_team" {{#if atswinning}}class="winning"{{/if}}
						style="text-align:left; text-transform: capitalize;">{{atcommon}}</td>

						<td id="home_team" {{#if htswinning}}class="winning"{{/if}}
						style="text-align:left; text-transform: capitalize;">{{htcommon}}</td>
			
						<td style="text-align:left">{{ats}}</td>
						<td style="text-align:left">{{hts}}</td> 

						<td style="text-align:right">
						<button type="button" id="remove-game-btn" class="btn btn-sm btn-outline-secondary">
						<!--<span class="glyphicon glyphicon-trash"></span>-->
						&#9587;
						</button></td>
					</tr>

					{{/unless}}
					{{/each}}

				</tbody>
			</table>
		{{else}}
			{{#if schedule.error}}
				<div class="alert alert-danger" style="margin-bottom:0">
					<span class="glyphicon glyphicon-bell"></span>
					Potential Error -- if there are games today, then definately error.
					Could be my code, the NHL API, or something random. Please do let me know.
				</div>
			{{else}}
				<div class="alert alert-danger" style="margin-bottom:0">
					<span class="glyphicon glyphicon-bell"></span>
					No Games today &#9785; &#9785; &#9785;<br>
					GET HYPED FOR PLAYOFFS!!
				</div>
			{{/if}}
		{{/if}}

	</div>	
</div>


